*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

/*************
*** COMMON ***
*************/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

/*************
*** HEADER ***
*************/
.header {
    height: 100vh;
    background-image: linear-gradient(
        to top, 
        rgba(100, 100, 100, 0.65), 
        rgba(223, 223, 223, 0.8)), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.header__menu-box {
    position: fixed;
    z-index: 20;
    top: 3rem;
    right: 2rem;
    font-size: 3rem;
    color: black;
    border: 1px solid #ffd900;
    border-radius: 50%;
    background: #ffd900;
    padding: 0 1.2rem;
}

.header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.header__logo {
    height: 6.5rem;
}

.heading-primary {
    color: #000;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.8rem;
    text-align: center;

    animation: moveInLeft 1.8s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .15rem;
    text-align: center;
    color: #ffd900;

    animation: moveInRight 1.8s ease-out;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes topToBottom {
    0% {
        opacity: 0;
        transform: translateY(-7.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header__button-box {
    text-align: center;
    transform: translateY(12rem);
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1.6rem;
    display: inline-block;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem .1rem rgba(0, 0, 0, 0.2);
}

.btn--yellow {
    font-size: 3rem;
    background: #ffd900;
    color: #000;
    border-radius: 50%;
}

.btn--animated {
    animation: topToBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

/**********
*** NAV ***
***********/
.nav {
    display: none;
    position: fixed;
    z-index: 10;
    background: #fff;
    transform: translate(-100vw, 0);
    transition: transform 0.3s ease;
    width: 35%;
    max-width: 35rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav.open {
    display: flex;
    transform: translate(0, 0);
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    font-weight: 700;
    list-style-type: none;
    box-sizing: border-box;
    display: list-item;
    width: 100%;
    text-align: left;
    line-height: 2.4rem;
    padding: 2rem;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a:hover {
    padding-bottom: .5rem;
    border-bottom: .3rem solid #ffd900;
    color: #000;
}

/***********
*** MAIN ***
***********/

/* ABOUT */
.about__box {
    height: 100vh;
    background-image: linear-gradient(45deg, #09203f 0%, #537895 72%);
}

.about__profile {
    width: 20rem;
    border: .25rem solid #ffd900;
    border-radius: 50%;
}

.about__caption {
    font-style: italic;
    padding-top: 1.8rem;
    text-align: center;
    margin: 0 5%;
}

.about__description {
    padding-top: 2rem;
    color: #fff;
    width: 90%;
}

.about__button-box {
    text-align: center;
    transform: translateY(12rem);
}

/* PROJECTS */
.projects {
    background: #fbfbfb;
    color: #000;
}

.project__title {
    text-align: center;
    padding-top: 1.6rem;
}
.projects__text-box {
    width: 90%;
}

.projects__description {
    padding: 3rem 0 5rem 0;
}

.project-item {
    width: 95%;
    padding: 1.4rem 0 1.2rem 0;
}

.projects__button-box {
    text-align: center;
}

.btn--project {
    font-size: 1.6rem;
    background: #ffd900;
    color: #fff;
    border-radius: 2rem;
}

/* SKILLS */
.skills {
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(45deg, #09203f 0%, #537895 72%);
}

.skills__text-box {
    width: 90%;
}

.skills__description {
    padding-bottom: 2rem;
}

.skills__container {
    width: 90%;
}

.skills__category {
    padding-bottom: .75rem;
    font-size: 2.4rem;
    text-align: center;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.skill__icon {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 4.25rem;
    margin: 1.2rem;
}

.skill__icon:hover {
    color: #ffd900;
}
.skill__icon span {
    display: block;
    font-family: "Lato", sans-serif;
    margin-top: .8rem;
    font-weight: 500;
    font-size: 1.2rem;
    visibility: hidden;
}

.skill__icon:hover span {
    visibility: visible;
    transform: scale(1.25);
    transition-duration: .5s;
    color: #ffd900;
}

/***********
** FOOTER **
***********/
.contact {
    background: #fbfbfb;
    color: #000;
}

.contact__text-box {
    text-align: center;
    padding-bottom: 2rem;
}

.contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.info-icon {
    width: 4.5rem;
    height: 4.5rem;
}

.info-icon:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

.contact__copyright {
    padding: 3rem 0 2rem;
    text-align: center;
    font-size: 1rem;
    color: #999;
}

.contact__copyright span {
    color: #000;
    font-weight: 500;
}