.about__button-box {
    display: none;
}

/********************
* MAJOR BREAKPOINTS *
********************/
/* TABLET */
@media screen and (min-width: 765px) and (max-width: 1024px) {
    body {
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-heading{
        width: 100%;
        font-size: 3.8rem;
        padding-top: 5vh;
        padding-bottom: 3vh;
    }

    .heading-primary--main {
        font-size: 3.8rem;
        letter-spacing: 1.8rem;
    }

    .heading-primary--sub {
        font-size: 1.6rem;
    }

    .header__menu-box {
        right: 3rem;
    }
    
    .nav {
        width: 25%;
    }

    .about__figure {
        display: inline-block;
        width: 60%;
        padding: 0 .25rem;
    }

    .about__box {
        display: flex;
        flex-direction: column;
    }

    .about__info {
        display: inline-flex;
        padding-bottom: 3rem;
    }
    
    .about__profile {
        content: url("../img/moses-2.jpg");
        border: none;
        border-radius: 0;
        width: 100%;
        box-shadow: 1rem 1rem 2rem .25rem rgba(0, 0, 0, 0.2);
    }

    .about__caption {
        margin: 0;
    }

    .about__description {
        align-self: center;
        display: inline-block;
        width: 35%;
        padding-right: .25rem;
        padding-bottom: 4rem;
        vertical-align: top;
    }

    .projects {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .projects__container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 1;
        padding: 3rem 0 5rem;
    }

    .projects__description {
        padding: 0;
    }

    .projects__box {
        width: 50%;
        padding-bottom: 1rem;
    }

    .skills {
        height: 65vh;
    }

    .contact {
        height: 35vh;
    }

    .info-icon {
        width: 6rem;
        height: 6rem;
    }

    .contact__info {
        padding: 0 15rem;
    }
}

/********************
* MINOR BREAKPOINTS *
********************/
/* MOBILE */
@media screen and (min-width: 360px) {
    .about__button-box {
        display: block;
        transform: translateY(2rem);
    }
    .skill__icon {
        font-size: 7.5rem;
    }
}

@media screen and (min-width: 360px) and (max-height: 669) {
    body {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 375px) and (min-height: 670px) and (max-height: 825px) {
    body {
        font-size: 1.8rem;
    }

    .header__button-box {
        transform: translateY(20rem);
    }
    
    .about__button-box {
        transform: translateY(8rem);
    }
}